*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  font-family: arial;
  overflow: hidden;
  font-family: 'Lato-Reg';
}
header {
  text-align: center;
  width: 100%;
}

h1{
  background:#fff;
  color:#000;
}
h2{
  background: red;
  color:#fff;
  margin-bottom:0px;
}

.header-bg {
  width: 100%;
  height: 115px;
  background: url('../images/blur-bg.png') center no-repeat;
  background-size: cover;
}

.logo {
  width: 100%;
  height: 100%;
  background: url('../images/client-logo.png') center no-repeat;
}

.main{
  width:100%;
  height: 100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background: #E4E4E4;
}

.socle {
  width: 400px;
  height: 300px;
  margin: auto;
  position: relative;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  background: #fff;
  box-shadow: 0px 0px 15px #ccc;
  vertical-align: middle;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.socle #label {
  font-family: 'Lato-Bol';
  position: relative;
  top: 120px;
}

#button {
  border: 11px solid rgba(153, 23, 23, 1);
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-sizing: border-box;
  background: rgba(186, 28, 29, 1);
  margin: 0 auto;
  position: relative;
  top: 85px;
  cursor:pointer;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
}

#button.active{
  transform:scale(1.1);
}

.wait{
  -webkit-filter: grayscale(50%);
  opacity:50%;
}

#button.record {
  border-radius: 0px;
  transform:scale(0.7);
}

.bar {
  background: rgba(0,200,0,1);
  height: 100%;
  width: 0%;
  transition: all 20ms ease;
  -webkit-transition: all 20ms ease;
}

message{
  position: absolute;
  bottom: -28px;
  left: 0px;
  display:block;
}

.messenger-message-inner {
  text-align: left;
  margin-left: 5%;
}

.pack {
  bottom: 0px;
  position: relative;
  left: 0;
  right: 0;
  top: 140px;
  text-align: center;
  width: 287px;
  height: 50px;
  line-height: 35px;
  margin: auto;
  padding-top: 15px;
  background: #d3d3d3;
  border-radius: 3px;
}

.progress{
  width: 140px;
  height: 3px;
  background: rgba(200,200,200,2);
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 12px;
}

ul.messenger.messenger-theme-block .messenger-message{
  border: none;
}
ul.messenger.messenger-theme-block .messenger-message {
  padding: 0;
  height: 50px;
}
.messenger-message-inner span:first-child{
  padding: 1em;
  display: inline-block;
}
.loader {
  display: inline-block;
  height: 100%;
  font-size: 15px;
  margin-left: 50px;
  line-height: 53px;
  padding-left: 20px;
  background: #C09853;
  color: #fcf8e3;
  position: relative;
  text-shadow: none;
  font-family: 'Lato-Bol';
}
.loader:after{
  content: '';
  display: inline-block;
  position: relative;
  right: -25px;
  text-indent: -9999em;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  border: 2px solid #C09853;
  border-right: none;
  border-top: none;
  border-radius: 50%;
  background: transparent;
  -webkit-animation: load 1.4s infinite linear;
  animation: load 1.4s infinite linear;

}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@font-face{
  font-family: 'Lato-BlaIta';
  src: url('../fonts/lato/Lato-BlaIta.ttf');
}
@font-face{
  font-family: 'Lato-Bol';
  src: url('../fonts/lato/Lato-Bol.ttf');
}
@font-face{
  font-family: 'Lato-LigIta';
  src: url('../fonts/lato/Lato-LigIta.ttf');
}
@font-face{
  font-family: 'Lato-Reg';
  src: url('../fonts/lato/Lato-Reg.ttf');
}
@font-face{
  font-family: 'Lato-Bla';
  src: url('../fonts/lato/Lato-Bla.ttf');
}
@font-face{
  font-family: 'Lato-HaiIta';
  src: url('../fonts/lato/Lato-HaiIta.ttf');
}
@font-face{
  font-family: 'Lato-Lig';
  src: url('../fonts/lato/Lato-Lig.ttf');
}
@font-face{
  font-family: 'Lato-BolIta';
  src: url('../fonts/lato/Lato-BolIta.ttf');
}
@font-face{
  font-family: 'Lato-Hai';
  src: url('../fonts/lato/Lato-Hai.ttf');
}
@font-face{
  font-family: 'Lato-RegIta';
  src: url('../fonts/lato/Lato-RegIta.ttf');
}